<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Guardados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-row center>
    <ion-col text-center>
     <button ion-button black large>
        Realizar scan
        </button>
     </ion-col>
</ion-row>
</ion-content>
